body {
  background-color: whitesmoke;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#nav-container {
  padding: 0;
}

#nav-bar {
  width: 100%;
  padding: 10px;
  justify-content: space-evenly;
}

.form-card {
  width: 500px;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  box-shadow: 1px 1px 5px #919191;
}

.form-card h1 {
  color: white;
  background-color: rgb(25, 135, 84);
}

.login-form {
  width: 400px;
  margin-top: 100px;
}

.form-container {
  text-align: left;
  font-size: large;
}

.form {
  display: flex;
  flex-direction: column;
}

.message-form {
  width: 600px;
  text-align: left;
  margin-left: 40px;
}

#message {
  height: 150px;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

.submit-btn {
  align-self: flex-end;
  margin-top: 5px;
}

.message-card, .membership-card {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 250px;
  margin: auto;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #919191;
}

.message-card .header, .membership-card .header  {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgba(25, 135, 84, 0.8);
  margin-bottom: 10px;
}

.membership-card .input-container {
  text-align: center;
  margin: auto;
}

.input-container p {
  font-size: x-large;
}

.membership-card input {
  width: 50%;
  height: 40px;
  text-align: center;
  font-size: x-large;
  border: none;
  border-radius: 15px;
  color: whitesmoke;
  background-color: #8ea48e;
  font-variant: small-caps; 
}

.membership-card input:focus {
  outline: none;
}

.message-card .message-content {
  padding: 10px;
  font-size: medium;
}

.message-card .footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.message-card h2, .message-card p, .membership-card h1 {
  margin: 0;
}

.message-card hr {
  margin-top: auto;
  margin-bottom: 2px;
}

.delete-btn {
  text-decoration-line: none;
  font-size: large;
  color: red;
}

.delete-btn:hover {
  color: maroon;
}